.App {
  text-align: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  min-height: 30px;
  border-bottom: 5px;
  border-color: black;
  border-width: 5px;
  background-color: grey;
}
.nav:hover{
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
  .navbar{
    display: none;
  }
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li{
  list-style:none;
  padding:0px 20px;
}

.navbar li a{
  font-style: none;
  color: black;
}

.teamback{
  background-color: white;
  padding: 50px;
  background-image: './bgimg.jpeg';
}
.teambox{
  min-width: 350px;
  max-width: 400px;
  margin: 20px;
  text-align: center;
  box-shadow: black;
  background-color: aliceblue;
  border-radius: 10px;
}
#teammember p{
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.teambox:hover{
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

.teamboximage{
  margin-top: 10px;
  width: 250px;
  height: auto;
  border-radius: 20%;
  object-fit: 'cover'
}
.foot{
  align-items: center;
  justify-content: center ;
  width:100%;
  background-color:white;
}
.social-media-box{
  margin-bottom: 10px;
}

.social-media-box a{
  padding:5px;
}

.abtusbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.abtus2{
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.hambrbut{
  align-items: end;
  margin-right: 0px;
}

#monavbarhide{
  display: none;
}

#monavbarshow{
  display: flex;
  flex-direction: column;
  transition:0.3s;
  background-color: #155588;
  margin-left: 40%;
  height: 1000px;
}

#monavbarshow li{
  list-style  : none;
  margin-top: 15px;
  margin-bottom: 25px;
}
.hambrbut{
  margin-right: 5px;
}

.contactusbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5%;
}

.contactusboxinput{
  height:300px;
  width:200px;
  border-radius:10px
}